body{
    padding-top: 60px;
    
}

#left{
    
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);;
    background-color: #F5F5F5;
}

.icon{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-size: 11px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("//qsf.is.quoracdn.net/-images.icons.trending_purple.svg894fb8666fba57fb.svg");
}

li{
    font-size: 15px;
    list-style: outside none;
    padding: 1px;
}

#query_form textarea{
    max-height: 100px;
}

.qform{
    display: flex;
    align-items: center;
    justify-content: center;
}

#id_comment{
    height: 100px;
    width: 400px;
    
}

#lbtn{
    width: 26.5%;
    position: relative;
}

#navv{
    background: #FFF none repeat scroll 0% 0%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 53px;
    z-index: 800;
    font-size: px;
    color: #FFF;
    border-top: 2px solid #B92B27;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #B92B27;
    border-bottom: 1px solid #DDD;
    box-shadow: 0px 3px 2px -2px rgba(200, 200, 200, 0.2);

}

#tlink li a{
    font-size: 14px;
    font-weight: 1000;
    color: #999;
    line-height: 20px;
}

#stories{
    color: #333;
    font-weight: 600;
    position: relative;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 16px;
    padding-bottom: 8px;
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 0px;
    background: #ECECEC none repeat scroll 0% 0%;
    
}

#stories p{
    padding-top: 1px;
}

.shead{
    
    color: #666;
    border-radius: 3px;
    font-weight: 400;
    cursor: default;
}

#logo{
    width: 60px;

}

.bgimg{
    background-image: url("{% static 'img/bg.png' %}");
}

#middle p{
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 16px;
    line-height: 1.4;

    
}
}

a{
    color: #07C;
    margin-bottom: 1.2em;
}

.tquery{
    background-color: #D9EDF7;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.bquery{
    
    border-radius: 4px;
    border: 1px solid #DDD;
    background: #FFF none repeat scroll 0% 0%;
}
.blist li{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
}
.blist{
    list-style: outside none none;
    margin: 0px 0px 20px;
    padding-left: 0px;
}
