{% extends 'faculty/base.html' %}
{% block title %}Title{% endblock %}
{% load i18n comments %}
{% load markup_tags %}
{% block body_block %}
    <div class="row">
    &nbsp;
        <center>
            <div id="stories">
            <p>Top stories for you</p>

            </div>
        </center>
        <div class="col-lg-3">
            <div id="left">
                <h3>{{ user.username}}</h3>
                {% for users in userprofile %}
                    {% if users.profile_pic %}
                    <img src="/media/{{ users.profile_pic }}">
                    {% endif %}<br><br>
                    {{ users.faculty_id }}
                    <br><br>
                    {{ users.department }}
                    <p><a class="btn btn-lg btn-primary" href="{% url 'my_queryf' %}" role="button">MY QUERIES</a></p>
                                    
                {% endfor %}
            </ul>
            
                    
        </div>
        <div class="col-lg-6" id="middle">
        <h1><font size="7"><center>{{title}}</center></font></h1>
            
                {% for query in allquery %}
                <div class="mid">
                <hr>
                    <h4><a href="/faculty/{{query.slug}}">{{ query.title }}</a></h4>
                    <b><span class="tags">({{ query.created_at }})
                    &nbsp;Tags:
                    {% for tag in query.tags.all %}
                    <span class="tagname">{{ tag.name }}</span>
                    {% endfor %}</span></b>
                    <p>
                    {% get_comment_count for query as comment_count %}
                    {% load comments %}
                    {% get_comment_count for query as comment_count %}
                    <p>
                    {% if query.show_user %}
                    Posted by <span class="count">{{ query.user.username }}</span>
                    {% endif %} &nbsp; Views <span class="count">{{ query.views}}</span> &nbsp;Comments <span class="count">{{ comment_count }}</span></p> </p>              
                    
                    
                    
                    <p id="cmt">
                    {% render_comment_form for query %}
                    </p>
                    </div>
                {% endfor %}
            
        </div>
        <div class="col-lg-3" id="right">
            <div class="tquery">
                <h3 class="shead"><span class="icon"></span>Trending Query</h3>
                <ul style="list-style-type: none">
                    {% for query in popular_query %}
                        <li>
                            <span class="bullet">•</span>&nbsp;<a href="/faculty/{{query.slug}}">{{ query.title }}</a>
                        </li> 
                        
                    {% endfor %}    
                </ul>
            </div>
            <br>
            <div>
                <h3 class="shead">Branch Catagories<h3/>
                <ul class="blist">
                    {% for b in branch%}
                     
                    <li><a href="/faculty/branch/{{b}}" >{{ b }}</a></li><br>
                    {% endfor %}
                    {% for b in bquery%}
                     
                    <li>{{ b }}</li>
                    {% endfor %}
                </ul>
            </div>    
        </div>
    </div>
{% endblock %}