{% extends 'faculty/base.html' %}
{% block title %}Title{% endblock %}
{% load i18n comments %}
{% load markup_tags %}
{% block body_block %}
<br><br>
    <div class="row">
        &nbsp;
        <div class="col-lg-3">
            <div id="left">
                <h3>{{ user.username|capfirst }}</h3>
                {% for users in userprofile %}
                    {% if users.profile_pic %}
                    <img class="img-responsive img-rounded" src="/media/{{ users.profile_pic }}">
                    {% endif %}<br>
                    Faculty ID:{{ users.faculty_id }}
                    <br>
                    Department:{{ users.department }}
                {% endfor %}
            </div><br>
            <div>
                <h3 class="shead1">Activity</h3>
                    {% if u %}
                        <a class="btn btn-sm btn-link tname" href="{% url 'probQF' %}" > PROBLEM QUERIES</a></li><br>
                        <a class="btn btn-sm btn-link tname" href="{% url 'my_probQF' %}" >MY GENERAL QUERIES</a></li><br>
                    {% endif %}
                    <a class="btn btn-sm btn-link tname" href="{% url 'home' %}">ALL QUERIES</a><br>
                    <a class="btn btn-sm btn-link tname" href="{% url 'my_queryf' %}" > MY QUERIES</a>
            </div><br>        
                
            {% if u %}
            <div>
                <h3 class="shead1"> TAGS </h3>
                {% load taggit_extras %}
                {% get_taglist as tags for 'vtr.QueryS' %}
                <ul class="blist">
                    {% for tag in tags|slice:":10" %}
                        <li><a href="/faculty/tag/{{ tag }}">{{ tag }} ({{tag.num_times}})</a></li>
                    {% endfor %}
                    <li><a href="{% url 'tag_page' }">MORE TAGS</a></li>
                <ul>
            </div> 
            {% else %}
            <div id="left">
                <h3 class="shead1"> TAGS </h3>
                {% load taggit_extras %}
                {% get_taglist as tags for 'hostel.QueryH' %}
                <ul class="blist">
                    {% for tag in tags %}
                        <li><a href="/faculty/tag/{{ tag }}">{{ tag }} ({{tag.num_times}})</a></li>
                    {% endfor %}
                <ul>
            </div> 
            {% endif %}
        </div>
        <div class="col-lg-6" >
            <ul class="nav nav-tabs" >
                <li class="active"><a href="{% url 'home' %}" title="Queries which are latest added">Recent</a></li>
                <li><a href="#" title="Queries with most votes"> Votes</a></li>
                <li><a href="{% url 'viewsf' %}" title="Queries with most views"> Views</a></li>
                <li><a href="{% url 'commentf' %}" title="Queries with most comments"> Comments</a></li>
                <li><a href="{% url 'weekf' %}" title="Queries added this week"> Week</a></li>
                <li><a href="{% url 'monthf' %}" title="Queries added this month"> Month</a></li>
            </ul>
            {% for query in allquery %}
                <div class="mid">
                    <hr>
                    <h4><a href="/faculty/{{query.slug}}">{{ query.title }}</a></h4>
                    <b><span class="tags"><span class="glyphicon glyphicon-time gicons"></span>({{ query.created_at }})</b>
                    &nbsp;<span class="glyphicon glyphicon-tags gicons aria-hidden="true""></span>
                    <b><span class="tags">Tags</span></b>
                    {% for tag in query.tags.all %}
                    <a href="/faculty/tag/{{ tag }}"><span class="tagname">{{ tag.name }}</span></a>
                    {% endfor %}</span>
                    <p>
                    {% get_comment_count for query as comment_count %}
                    {% load comments %}
                    {% get_comment_count for query as comment_count %}
                    </p>
                    <p>
                    {% if query.show_user %}
                    <span class="tname"> Posted by</span> <span class="count"><span class="glyphicon glyphicon-user gicons"></span>{{ query.user.username|capfirst }}</span>
                    {% endif %} &nbsp; <span class="tname">Views</span> <span class="count">{{ query.views}}</span> &nbsp;<span class="tname">Comments</span> <span class="count">{{ comment_count }}</span>  &nbsp; 

                    {% if request.user == query.user %}
                    <a class="btn btn-sm btn-link tname" href="{% url 'query_update' query.id %}">Edit</a>
                    
                    <a class="btn btn-sm btn-link tname" href="{% url 'query_delete' query.id %}">Delete</a>
                    {% endif%}
                    </p>
                    <p id="cmt">
                    {% render_comment_form for query %}
                    </p>
                </div>
                {% endfor %}
            </div>
        <div class="col-lg-3" id="right">
            <div class="tquery">
                <h3 class="shead"><span class="icon"></span>Trending Query</h3>
                <ul style="list-style-type: none">
                    {% for query in popular_query %}
                        <li><span class="bullet">•</span>&nbsp;<a href="/faculty/{{query.slug}}">{{ query.title }}</a></li> 
                    {% endfor %}    
                </ul>
            </div><br>
            {% if u %}
            <div>
                <h3 class="shead">Catagories<h3/>
                <ul class="blist">
                    {% for b in branch%}
                      <li><a href="/faculty/branch/{{b}}" >{{ b }}</a></li><br>
                    {% endfor %}
                </ul>
            </div> {% endif %}   
        </div>
    </div>
{% endblock %}