{% extends 'vtr/base.html' %}
{% load bootstrap %}
{% block title %}Register{% endblock %}
{% block body_block %}
    <div class="container">
        <center><h2 id="reg"><strong>Registration Form Faculty</strong></h2></center>
        <div class="col-lg-12">
           <div class="row ">            
                <center>
                    <div class="rform">
                        <div class="form-group">  
                        <!-- faculty registration form starts -->     
                            <form id="user_form"  class="form-group"action="{% url 'registerF' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ user_form|bootstrap }}
                                {{ profile_form|bootstrap }}
                                <br>
                                <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
                            </form>
                        <!-- faculty registration form ends -->
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
{% endblock %}