{% extends 'vtr/base.html' %}
{% load bootstrap %}
{% block body_block %}
	<center>
    <br>
        <h2> Add Your Query</h2>
    </center>
    <!-- query form div start -->
    <div class="qform">
	   <form id="query_form" method="POST" action="{% url 'add_queryS' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ query_form | bootstrap_horizontal }}
        <div style="text-align:center">
            <input type="submit" name="submit" value="Post Query" class="btn btn-primary">	
        </div>
	   </form>
    </div>
    <!-- query form div end -->
	<br>
{% endblock %}