{% extends 'vtr/base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %}About{% endblock %}
{% block body_block %}
 <!-- container starts -->
    <div class="container">
        <center><h2 id="reg"><strong>Contact Us</strong></h2></center>
    <!-- col-lg-12 starts -->
        <div class="col-lg-12">
        <!-- row starts -->
           <div class="row ">            
                <center>
                    <div class="rform">
                        <div class="form-group">
                            <form role="form" action="" method="post">
                                {% csrf_token %}
                                {{ form| bootstrap }}
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>

                    </div>
                </center>
            </div>
        <!-- div ends -->
        </div>  
    <!-- col-lg-12 ends -->  
    </div>
<!-- container ends -->
    <br>
{% endblock %}