{% extends 'vtr/base.html' %}
{% block title %}Title{% endblock %}
{% load i18n comments %}
{% load bootstrap_pagination %}
{% load markup_tags %}
{% block body_block %}
<br><br>
    <div class="row">
    &nbsp;
       
        <div class="col-lg-3" >

            <div id="left">
                <h3>{{ user.username}}</h3>
                {% for users in userprofile %}
                    {% if users.profile_pic %}
                    <img src="/media/{{users.profile_pic}}">
                    {% endif %}<br><br>
                    Rollnumber:{{ users.rollnumber }}
                    <br>
                    Year:{{ users.year }}
                    <br>
                    Branch:{{ users.branch }}<br>
                {% endfor %}
            </div><br>
            <div>
            <h3 class="shead">User Activity</h3>
                    <p><a href="{% url 'my_query' %}">MY QUERIES</a></p>
                    {% if users.hostler %}
                    <p><a class="btn btn-lg btn-primary" href="{% url 'hostelQ' %}" role="button">ALL HOSTEL QUERIES</a></p>
                     <p><a class="btn btn-lg btn-primary" href="{% url 'my_hostelQ' %}" role="button"> MY HOSTEL QUERIES</a></p>
                    {% endif %}
            </div>         
        </div>
        <div class="col-lg-6">
        
        <ul class="nav nav-tabs" >
            <li class="active"><a href="{% url 'home' %}" title="Queries which are latest added">Recent</a></li>
            <li><a href="#" title="Queries with most votes"> Votes</a></li>
            <li><a href="{% url 'views' %}" title="Queries with most views"> Views</a></li>
            <li><a href="{% url 'comment' %}" title="Queries with most comments"> Comments</a></li>
            <li><a href="{% url 'week' %}" title="Queries added this week"> Week</a></li>
            <li><a href="{% url 'month' %}" title="Queries added this month"> Month</a></li>
            
        </ul>
        
            
            
            
                
            
                {% for query in allquery %}
                <div class="mid">
                <hr>
                    <h4><a href="/vtr/{{query.slug}}">{{ query.title }}</a></h4>
                    <b><span class="tags">({{ query.created_at }})
                    &nbsp;Tags:</b>
                    {% for tag in query.tags.all %}
                    <span class="tagname">{{ tag.name }}</span>
                    {% endfor %}</span>
                    <p>

                    <p>
                    {% get_comment_count for query as comment_count %}
                    {% load comments %}
                    {% get_comment_count for query as comment_count %}
                    <p>
                    {% if query.show_user %}
                    <span class="tname"> Posted by</span> <span class="count">{{ query.user.username }}</span>
                    {% endif %} &nbsp; <span class="tname">Views</span> <span class="count">{{ query.views}}</span> &nbsp;<span class="tname">Comments</span> <span class="count">{{ comment_count }}</span></p> </p>  

                    
                    
                    
                    <p id="cmt">
                    {% render_comment_form for query %}
                    </p>
                    </div>
                {% endfor %}

            
        </div>
        <div class="col-lg-3" id="right">
            <div class="tquery">
                <h3 class="shead"><span class="icon"></span>Trending Query</h3>
                <ul style="list-style-type: none">
                    {% for query in popular_query %}
                        <li>
                            <span class="bullet">•</span>&nbsp;<a href="/vtr/{{query.slug}}">{{ query.title }}</a>
                            
                        </li> 
                        
                    {% endfor %}  

                </ul>
            </div>
            <br>
            <div>
                <h3 class="shead">Branch Catagories<h3/>
                <ul class="blist">
                    {% for b in branch%}
                     
                    <li><a href="/vtr/branch/{{b}}" >{{ b }}</a></li><br>
                    {% endfor %}
                    {% for b in bquery%}
                     <li>{{ b }}</li>
                    {% endfor %}
                </ul>
            </div>    
        </div>
    </div>
{% endblock %}