{% extends 'vtr/base.html' %}
{% block title %}Login{% endblock %}
{% block body_block %}
<br><br>
<body class="bgimg">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <center>
    <!-- login form starts -->
        <form class="form-signin" role="form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
            <input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" id="lbtn" />Sign in</button>
            <input type="hidden" name="next" vlaue="{{next}}" />
            {% if form.errors %}
                <p class = "label label-danger">Your username and password didn't match. Please try again.</p>
            {% endif %}
        </form>
    <!-- login form ends -->
        <h2>OR</h2>
        <h2>REGISTER YOURSELF</h2>
        <h2>It only takes a Minute:</h2>
        <a class="btn btn-lg btn-primary" href="{% url 'registerS' %}" role="button">Student Registration</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-lg btn-primary" href="{% url 'registerF' %}" role="button">Faculty Registration</a>
    </center>
    <br><br><br>
</body>
{% endblock %}