{% extends 'vtr/base.html' %}
{% load bootstrap %}
{% block title %}Register{% endblock %}

{% block body_block %}

      {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="127.0.0.1:8000">Return to the homepage.</a><br />
{% else %}
    {% endif %}
      <br><br><br><br>
      
        <h2>Please Register</h2>

<div class="container">
    <div class="row">            
        <form id="user_form"  class="form-group"action="{% url 'register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form|bootstrap_horizontal }}
        {{ profile_form|bootstrap_horizontal }}
        
        <!-- Provide a button to click to submit the form. -->

        <br>
        <div style="text-align:center">
        <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
        </div>
</form>
 </div>
</div>

{% endblock %}