{% extends 'hostel/base.html' %}
{% block title %}Title{% endblock %}
{% load i18n comments %}
{% load markup_tags %}
{% block body_block %}
    &nbsp;&nbsp;
    <div class="row">
        <div class="col-lg-3" id="left">
            <h3>{{ user.username}}</h3>
                {% for users in userprofile %}
                    {% if users.profile_pic %}
                    <img src="/media/{{users.profile_pic}}">
                    {% endif %}<br><br>
                    Rollnumber:{{ users.rollnumber }}
                    <br>
                    Year:{{ users.year }}
                    <br>
                    Branch:{{ users.branch }}<br><br>
            
                     <p><a href="{% url 'home' %}">ALL ACADEMIC QUERIES</a></p>
                    <p><a href="{% url 'my_query' %}" > MY ACADEMIC QUERIES</a></p>
                    <li><a href="{% url 'probQS' %}" >ALL GENERAL QUERIES</a></li><br>
                    <li><a href="{% url 'my_probQS' %}" >MY GENERAL QUERIES</a></li><br>
                    <p><a href="{% url 'hostelQ' %}" >ALL HOSTEL QUERIES</a></p>
                    <p><a href="{% url 'my_hostelQ' %}" > MY HOSTEL QUERIES</a></p>
                    {% endfor %}
                 <div id="left">
            <h3> TAG CLOUD </h3>
            {% load taggit_extras %}
            {% get_taglist as tags for 'hostel.QueryH' %}
            <ul>
            {% for tag in tags %}
            <li><span>></span><a href="/hostel/tag/{{ tag }}">{{ tag }} ({{tag.num_times}})</a></li>
            {% endfor %}
            <ul>

            </div>    
        </div>
        <div class="col-lg-6">
            
            <h2><span class="qtitle">{{ single_query.title }}</span></h2>
            
                <b><span class="tags">({{ single_query.created_at }})&nbsp;Tags:
                    {% for tag in single_query.tags.all %}
                    <a href="/hostel/tag/{{ tag }}"><span class="tagname">{{ tag.name }}</span></a>
                    {% endfor %}</span></b>
                    <br><br>
                <p class="qtext">{{ single_query.content }}</p>
                 {% if single_query.image %}
            <img src="/media/{{ single_query.image }}">
             {% endif %}   
                {% load comments %}
                    {% get_comment_count for single_query as comment_count %}
                    <p>
                    {% if single_query.show_user %}
                    Posted by <span class="count">{{ single_query.user.username }} </span>
                    {% endif %} &nbsp; Views <span class="count">{{ single_query.views}}</span> &nbsp;Comments <span class="count">{{ comment_count }}</span></p>
            
            <h3>Comments</h3>
    
            {% render_comment_list for single_query %}
            <hr>
            {% render_comment_form for single_query %}
        </div>
        <div class="col-lg-3" id="right">
        <div>
                {% if single_query.tags.similar_objects %}
                <h3 class="shead">Similar</h3> 
                <ul style="list-style-type: none">
                {% for query in single_query.tags.similar_objects|slice:":5" %}
                <li>
                    <span>*</span>&nbsp;<a href="/hostel/{{query.slug}}">{{query.title}}</a>
                </li>
                {% if not forloop.last %}
                {% endif%}
                {% endfor %}
                {% endif %}
        </div><br><br>
            <div class="tquery">
                <h3 class="shead"><span class="icon"></span>Trending Query</h3>
                <ul style="list-style-type: none">
                    {% for query in popular_query %}
                        <li>
                            <span class="icon"></span>&nbsp;<a href="/hostel/{{query.slug}}">{{ query.title }}</a>
                        </li> 
                        
                    {% endfor %}    
                </ul>
            </div>
            <br>
    
        </div>
    </div>
{% endblock %}